.banner{
    background-image: url('../images/banner/banner1.png');
    width: 100vw;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text{
    text-align: right;
margin-right: 230px;
align-items: end;
}
.banner-text h3{
    color:  #151414;
    text-align: right;
    align-items: end;
    position: relative;
    font-family: "Work Sans";
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 525px;
  margin-left: 845px;
  padding-top: 216px;

}
.banner-text p{
    color: #444343;
text-align: right;
align-items: end;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
width: 494px;
margin-left: 845px;
margin-top: 24px;
}
.btn-primary{
    border-radius: 5px;
background: #F15B22;
width: 160px;
height: 64px;
color: #FFF;
text-align: center;
font-family: "Work Sans";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: 0;
margin-right: 345px;
margin-top: 32px;
}
.new-section{
    display: flex;
    gap: 87px;
    justify-content: space-between;
}
.new-section .image img{
    margin-top: 147px;
    margin-left: 277px;
}
.section-text{
    margin-top: 370px;
    margin-right: 322px;

   
}
.section-text h3{
    color: #151414;
font-family: "Work Sans";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 288px;
}
.section-text p{
    margin-top: 24px;
    color:  #444343;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 416px

}
.description{
    margin-top: 16px;
}